/* common */
body{
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
li,ul,a,h1,h2,p{
  margin: 0;
  padding: 0;
}
img{
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  width: 100%;
}

.container{
  padding: 0 16px;
}
a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  opacity: 0.5;
  transition: opacity .3s;
}
/* header */
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container img{
  vertical-align: bottom;
  padding: 8px 0;
}

header ul{
  display: flex;  
}
header li{
  list-style: none;
}
header li i{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
}
header li + li{
  margin-left: 8px;
} 
header li a{
  font-size: 12px;
}
.search{
  display: none;
}
/* main */
main h1{
  padding-bottom: 32px;
  font-weight: normal;
  font-size: 24px;
}
main .heroimg{
  width: 100%;
  margin: 0;
  object-fit: cover;
}
main .container{
  padding-top: 80px;
  padding-bottom: 80px;
}
main ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap:16px;
}
main li{
  list-style: none;
  width: calc((100% - 16px) / 2);
}
main h2{
  padding-top: 8px;
  font-weight: normal;
  font-size: 16px;
}
main .main-bottom{
  border: 2px solid #333;
  line-height: 48px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-top: 32px;
  display: block;
  cursor: pointer;
}
/* footer*/
footer{
  width: 100%;
  background-color: #4C4948;
}
footer .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #eee;
  padding: 16px;
}
footer small{
  font-size: 16px;
}
footer .small-container{
  font-size: 24px;
}
footer a + a{
  margin-left: 8px;
}
@media (min-width:600px){
  main li{
    list-style: none;
    width: calc((100% - 32px) / 3);
  }
  main ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
@media(min-width:800px){
  .container{
    max-width: 800px;
    margin: 0 auto;
  }
  .search{
    display: block;
    cursor: pointer;
  }
  .search input{
    width: 300px;
    all: unset;
    border-bottom: 1px solid #aaa;
    padding: 4px;
  }
}